@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";

h1, h2, p, input {
  font-family: 'Inknut Antiqua', serif;
}

h1{
  padding-left: 25px;
}

.endMessage{
  font-size: 20px;
  text-align: center;
}

.title{
  margin-right: 75px;
}

.cornerMessage{
  padding-top: 30px;
  padding-left: 15px;
}

.questionBox{
  margin: 10px auto 0;
  padding-left: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  border: 1px solid black;
  border-radius: 20px;
}

.rebellious{
  margin-top: 10px;
  width: 60%;
}

.option{
  padding-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 30%;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-style: italic;
}

.playerName{
  display: inline;
}

.playerList{
  width: 20%;
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
  border-top: none;
  text-align: center;
  background-color: white;
}


.option:hover{
  color: white;
  background-color: grey;
}


.option.two{
  margin-left: 800px;
}

.option.three{
  margin-left: 400px;
  margin-top: 100px;
}

.wonky{
  padding-right: 20px;
}

.portfolio{
  margin-top: 20px;
}


p{
  font-weight: bold;
  font-style: italic;
}


.titleBar{
  border-bottom: 1px solid black;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.blackLinks{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.blackLink{
  cursor: pointer;
  transition: all 0.3s ease;
}

.blackLink:hover{
  color: grey;
}

.prettyRoom{
  display: flex;
  flex-direction: column;
}

.Login{
  display: flex;
  flex-direction: column;
}

.nameEntry{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 10px;
  background-color: white;
}


input{
  display: block; /*Only block elements respect margin: 0 auto*/
  margin: 0 auto;
  box-shadow: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px;
}

.background-container {
  position: relative;
  overflow: hidden; /* optional, keeps overlay neatly clipped */
}

.background {
  display: block;
  width: 100%;
  height: 100vh;           /* or whatever */
  object-fit: cover;       /* keeps image nicely cropped */
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(165, 42, 42, 0.5); /* #CCCCCC @ 50% */
  pointer-events: none;     /* clicks pass through */
}

.button{
  margin: 0 auto;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  font-family: 'Inknut Antiqua', serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  padding: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover{
  color: white;
  background-color: grey;
}

.centeringElements{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idScreen{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer{
  width: 30%;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.needSpace{
  margin-bottom: 20px;
}

.deletion:hover{
  color: grey;
  cursor: default;
}

.deletion{
  color: black;
  transition: all 0.3s ease;
}

.button.clicked {
  color: white;
  background-color: black;
}

.image{
  background-color: black;
  color: white;
}


.questionAnswer{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answers{
  margin-top: 30px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width: 50%;
}

.button.gambling{
  position: absolute;
  width: 20%;
  left: 68%;
}


.button.inline{
  display: inline;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
